/* styles.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #333333;  /* Olive Drab */
    color: #e2e8f0;             /* Tailwind Slate 200 */
    margin: 0 auto;
    padding: 1rem;
    /* max-width: 400px; */
}

/* rest of the css will be forms/buttons/lists/rows/etc. to be determined */
.app-header {
    font-weight: 500;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.new-task-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.form-input-element {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

#task {
    min-width: 330px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 0.25rem;
}
#task, input {
    padding-left: 5px;
}
.add-task-btn {
    width: 30px;
    background: hsla(0, 100%, 100%, 0.50);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 0.25rem;
    cursor: pointer;
}
.add-task-btn:hover, .add-task-btn:focus-visible {
    color: white;
}

/* list section */

.delete-task-btn {
    color: black;
    width: 18px;
    margin-left: 0.3rem;
    background: hsla(0, 100%, 100%, 0.50);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 0.25rem;
    cursor: pointer;
}
.delete-task-btn:hover, .delete-task-btn:focus-visible {
    color: white;
}

.todo-list-section {
    margin-top: 20px; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    /* margin-left: 1rem; */
    list-style: none;
}

.todo-list-section li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.todo-list-section li label {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
}

.todo-list-section li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
  }
  
.todo-list-section li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
  }
  
.todo-list-section li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(0, 0%, 100%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.todo-list-section li label:hover::before {
    background: hsl(200, 100%, 80%);
  }
  
.todo-list-section li:has(input:checked) label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
  }
  
.todo-list-section li:has(input:checked) label:hover::before {
    background: hsl(200, 100%, 30%);
  }